# OS files
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Flutter / Dart
**/build/
**/.dart_tool/
**/.packages
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.metadata
**/coverage/

# Firebase / env
*.env
firebase-debug.log
